.page-container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 250px;  // 사이드바의 너비 조정
  padding: 80px 20px 20px 20px;
}

.content {
  flex-grow: 1;  // 콘텐츠 영역이 나머지 공간을 차지하도록 설정
}
